body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-bold';
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

p {
    color: grey;
}

/* Headings */

.big-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

#title{
    background-color: #ff4c68;
    color: white;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#features{
    padding:7% 15% ;
    background-color: white;
    position: relative;
    
    
}

.col-lg-6{
    position: relative;
}

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
}

.btn{
    margin: 5% 3% 5% 0;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
 color: #ef8172;
 margin-bottom: 1.2rem;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial */
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-img{
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    color: white;
    padding: 7% 15%;
    text-align: center;

}

.cta-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    text-align: center;
    padding: 7% 15%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}


.links{
    padding: 2%;
    color: grey;
}

.links:hover{
    color: #ff4c68;;
}



@media (max-width: 1030px) {

    #title{
       text-align: center;
    }

    .title-image{
        position: static;
      transform: rotate(0);
    }
}

@media (max-width: 480px) {

    #title{
       text-align: center;
    }

    .title-image{
        position: static;
      transform: rotate(0);
    }
}